@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.About-us, .facts, .Service, .Feauture, .Service2, .Quote, .Our-team, .Logos, .Work, .testimonial, .what-people-say, .blog, .map{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
} 
.nav{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.nav-list-element{
    margin-right: 1.5vw;
}
.nav-list-link{
    color: white;
    font-size: 1.2rem;
    padding-bottom: 0.5vh;
}
.nav-list-link:hover{
    border-bottom: 0.3vh solid rgba(252, 227, 138, 1);
    color: rgba(252, 227, 138, 1);
}
.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(180deg, rgba(231, 129, 130, 0.9) 0%, rgba(239, 217, 138, 0.9) 100%), url(bird.png);
    background-position: center;
    background-repeat: no-repeat;
}
.nav-list-link{
    text-decoration: none;
}
.logo{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.Template{
    color: white;
    font-size: 3rem;
}
.cursive-headlines{
    font-family: 'Kaushan Script', cursive;
    font-weight: 500;
}
h1{
    font-size: 6rem;
    color: white;
    display: flex;
    text-align: center;
}
.Header-logo{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.links-to-other-stuff{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-size: 11pt;
}
.link-to-other-stuff{
    margin: 1vw;
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
    border-top: 2px solid rgba(255, 255, 255, 0.75);
    padding: 2vh 2vh 2vh 0;
    width: 11vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
}
.Learn-more-link{
    text-decoration: none;
    color: white;
    border: 0.2rem solid white;
    padding: 1vh;
    font-weight: 700;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number{
    margin-right: 0.3vw;
    font-weight: 700;
    font-size: 14pt;

}
.link-to-other-stuff:hover{
    transition-property: border, color;
    transition-duration: 1s;
    transition-timing-function: ease;
    border-top: 2px solid #F38181;
    color: white;
}
.Main-logo-line{
    margin: 4vh;
    width: 10%;
    border: 1px solid white;
    background-color: white;
}
.logo-line{
    margin: 4vh;
    width: 4%;
    border: 1px solid rgb(255, 92, 71);
    background-color: rgb(255, 92, 71);
}
.map{
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), url(map.jpg);
    background-position: top;
    background-repeat: no-repeat;
}
.Open-map{
    text-decoration: none;
    font-weight: 700;
    color: rgb(255, 92, 71);
    font-size: 1.6rem;
}
.facts{
    background-color: rgba(149, 225, 211, 1);
    width: 100%;
    height: 25vh;
}
.About-us{
    height: 75vh;
    justify-content: center;
}
.facts-list{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.facts-list-element{
    height: 100%;
    width: 10.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vh;
    border-right: 0.5px solid rgba(255, 255, 255, 0.4);
}
.main-p{
    width: 60%;
    text-align: center;
    font-size: 11pt;
    color: #999999;
}
.About-us-pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 40vh;
}
.About-us-picture{
    height: 26vh;
    width: 30%;
}
.About-us-picture-div{
    background-color: rgb(149, 225, 211);
    width: 100%;
}
.About-us-picture-div2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    background-size: 100%;
    top: -27vh;
    right: 1vh;
    background-repeat: no-repeat;
    background-image: linear-gradient(180deg, rgba(231, 129, 130, 0.9) 0%, rgba(239, 217, 138, 0.9) 100%), url(stol1.jpg);
    width: 100%;
}
.About-us-picture-div2-p{
    font-size: 1.2rem;
    font-weight: 700;
}
.About-us-picture-divs{
    height: 26vh;
    width: 30%;
}
.main-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    width: 100%;
}
.facts-list-element-number, .facts-list-element-p{
    color: white;
}
.facts-list-element-p{
    font-size: 0.8rem;
    font-weight: 500;
}
.facts-list-element-number{
    font-size: 3.5rem;
    font-weight: 900;
}
.Web-Design-Projects{
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}
.Service{
    height: 65vh;
    justify-content: space-around;
}
.Service-grid{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "A B C"
        "D E F"
    ;
}
.Service-grid-A{
    grid-area: A;
}
.Service-grid-B{
    grid-area: B;
}
.Service-grid-C{
    grid-area: C;
}
.Service-grid-D{
    grid-area: D;
}
.Service-grid-E{
    grid-area: E;
}
.Service-grid-F{
    grid-area: F;
}
.Service-grid-element{
    margin: 1vh;
    width: 20vw;
}
.Service-grid-p{
    margin-top: 1vh;
}
.Feauture{
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(Unique-design-background.jpg);
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: end;
    width: 100%;
}
.Feauture-pictures-block{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Feauture-picture-ipad{
    height: 100%;
    position: relative;
    right: -14vh;
}
.Feauture-picture-phone{
    height: 80%;
    position: relative;
    top: 11vh;
    right: -3vh;
}
.Service2{
    height: 80vh;
    justify-content: space-evenly;
}
.Service2-pic-texts-div{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.Service2-pic{
    width: 30%;
    height: 100%;
}
.Service2-texts-div{
    height: 100%;
    width: 30%;
    border: 1px solid gray;
}
.Service2-p{
    width: 60%;
    text-align: center;
}
.Quote{
    height: 25vh;
    background-color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Quote-main-block{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Quote-main-block-text{
    display: flex;
    flex-direction: column;

}
.Quote-main-block-text-p{
    text-align: left;
    width: 50%;
}
.Quote-main-block-text-under-p{
    display: flex;
    flex-direction: row;
}
.Logos{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
}

/* Не забыть про проблему с Quote*/

.Quote-main-block-text-under-cursive-headline{
    margin: 4vh;
}
.Logos-picture{
    width: 50%;
}

.Work{
    height: 140vh;
    justify-content: space-around;
}
.Work-grid{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "A1 B1 C1 D1"
        "E1 F1 C1 H1";
}
.Work-grid-element-A{
    grid-area: A1;
    background-image: url(Work-grid-element-A.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Work-grid-element-B{
    grid-area: B1;
    background-image: url(Work-grid-element-B.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Work-grid-element-C{
    grid-area: C1;
    background-image: url(Work-grid-element-C.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.Work-grid-element-D{
    grid-area: D1;
    background-image: url(Work-grid-element-D.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Work-grid-element-E{
    grid-area: E1;
    background-image: url(Work-grid-element-E.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
.Work-grid-element-F{
    grid-area: F1;
    background-image: linear-gradient(180deg, rgba(255, 93, 71, 0.89) 0%, rgba(235, 179, 26, 0.815) 100%), url(Work-grid-element-F.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
}
.Work-grid-element-G{
    grid-area: G1;
}
.Work-grid-element-H{
    grid-area: H1;
    background-image: url(Work-grid-element-H.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.Work-p{
    width: 60%;
    text-align: center;
}
.what-people-say{
    height: 80vh;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.6) 100%), url(Mountain.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*.Web-Design-Projects{
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}
.happy-client{
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}
.award-winner{
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}
.cup-of-coffee{
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}
.members{
    border-right: 1px solid rgba(255, 255, 255, 0.247);
}*/